:root{
    --primary-color: #025a6a;
    --secondary-color: #025a6a48;
}

body {
    font-family: 'Times New Roman';
    /* padding: 1px; */
    background-color: #ffffff;
}

/* header , add user */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-row h1 {
    color: #333;
    margin: 0;
}

.header-row a.add-btn {
    padding: 18px 20px;
    background-color: #fb6f04;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.header-row a.add-btn:hover {
    background-color: #b30c00;
    transform: translateY(-2px);
}


/* Users table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
}

th {
    background-color: var(--secondary-color);
    color: rgb(4, 4, 4);
    font-weight: bold;
    font-size: 20px;
    /* text-align: center; */
}

tr:hover {
    background-color: #f1f1f1;
}

/* Action buttons */
.action-btn {
    margin-right: 10px;
    color: #007bff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.action-btn:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}


/* Responsive for small screens */
@media screen and (max-width: 768px) {
    .header-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-row a.add-btn {
        margin-top: 10px;
    }

    table, th, td {
        font-size: 14px;
    }
}

/* ---------------------Forms-------------------- */

.form-container {

    width: 400px;
    margin: 100px auto;
    background: #ffffff;
    padding: 45px 45px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.5);
}

.form-group input:focus {
    border-color: #fb6f04;
    outline: none;
    box-shadow: 0 0 5px rgba(251,111,4,0.4);
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
    padding: 10px 10px;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: #555;
    margin-bottom: 6px;
}

.form-group input {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}

.form-buttons {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 3px;
}

.btn-submit {
    background-color: #b30c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    font-family:'Times New Roman';
}

.btn-submit:hover {
    background-color: var(--primary-color);
}

.btn-cancel {
    text-decoration: none;
    background-color: #fa6d01f1;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.btn-cancel:hover {
    background-color: var(--primary-color);
}

/* -----------------Tickets--------------- */
/* Dropdown styling */
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none; /* removes default arrow in some browsers */
}

form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

form select option {
    padding: 10px;
}